<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PlanningGameV1.Properties.Settings.EnglishTurkishConnectionString" connectionString="Data Source=DESKTOP-5L02G6P\SQLEXPRESS;Initial Catalog=EnglishTurkish;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EnglishTurkishEntities" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities1" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities2" connectionString="metadata=res://*/Data.Model2.csdl|res://*/Data.Model2.ssdl|res://*/Data.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities3" connectionString="metadata=res://*/Data.Model3.csdl|res://*/Data.Model3.ssdl|res://*/Data.Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities4" connectionString="metadata=res://*/Data.Model4.csdl|res://*/Data.Model4.ssdl|res://*/Data.Model4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OtelBilgiEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=OtelBilgi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities5" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities6" connectionString="metadata=res://*/Data.Model2.csdl|res://*/Data.Model2.ssdl|res://*/Data.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities7" connectionString="metadata=res://*/Data.Model3.csdl|res://*/Data.Model3.ssdl|res://*/Data.Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities8" connectionString="metadata=res://*/Data.Model22.csdl|res://*/Data.Model22.ssdl|res://*/Data.Model22.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities9" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities10" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities11" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities12" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnglishTurkishEntities13" connectionString="metadata=res://*/Data.Model3.csdl|res://*/Data.Model3.ssdl|res://*/Data.Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5L02G6P\SQLEXPRESS;initial catalog=EnglishTurkish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>